# Object and binary directories
build*/

# Mac OS metadata
.DS_Store

# editor temp files
*~
*.swp
.cache/
.clangd/

# Gcov: GCC coverage testing tool- data files
*.gcno
*.gcda

# Gcov log files
*.gcov

# Lcov: graphical frontend for Gcov- tracefiles
*.info

# genhtml test case description format produced by gendesc
*.desc

# User editor files
.vscode
compile_commands.json

# HDF5/Output Files
*.phdf
*.phdf.xdmf
*.dat
*.hst

# jupyter notebook temp files
.ipynb_checkpoints

# CMake Test files
Testing
