[submodule "external/kokkos"]
	path = external/Kokkos
	url = https://github.com/kokkos/kokkos.git
[submodule "external/parthenon"]
	path = external/parthenon
	url = https://github.com/lanl/parthenon.git
[submodule "external/catch2"]
	path = external/catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "external/HighFive"]
	path = external/HighFive
	url = https://github.com/BlueBrain/HighFive.git
